<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="The_amazing_of_numbers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="The_amazing_of_numbers.Properties.Settings.DbUniversityConnectionString"
            connectionString="Data Source=DESKTOP-JM228I7\MSSQLSERVER2022;Initial Catalog=DbUniversity;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="The_amazing_of_numbers.Properties.Settings.UniversityConnectionString"
            connectionString="Data Source=DESKTOP-JM228I7\MSSQLSERVER2022;Initial Catalog=University;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="The_amazing_of_numbers.Properties.Settings.DBUniversityConnectionString1"
            connectionString="Data Source=DESKTOP-6GJCG8P;Initial Catalog=DBUniversity;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="The_amazing_of_numbers.Properties.Settings.DBUniversityUpdateConnectionString"
            connectionString="Data Source=DESKTOP-6GJCG8P;Initial Catalog=DBUniversityUpdate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="The_amazing_of_numbers.Properties.Settings.DBUniversityFullConnectionString"
            connectionString="Data Source=DESKTOP-6GJCG8P;Initial Catalog=DBUniversityFull;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="The_amazing_of_numbers.Properties.Settings.DBUniversityUpdate2ConnectionString"
            connectionString="Data Source=DESKTOP-6GJCG8P;Initial Catalog=DBUniversityUpdate2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <The_amazing_of_numbers.Properties.Settings>
            <setting name="checkbox" serializeAs="String">
                <value>False</value>
            </setting>
        </The_amazing_of_numbers.Properties.Settings>
    </userSettings>
</configuration>